@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Square721';
  src: 
      url('/fonts/Square721.woff') format('woff'),
       /* url('/fonts/MyCustomFont.woff') format('woff'); sostituire con font secondario*/  ;
  font-weight: normal;
  font-style: bold;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255; 
}



@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

*, body {
  margin: 0;

}

.fontPrimary {
  font-family: 'Square721', sans-serif;
  
}

.fontSecondary {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
}

.fontCookie {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
}

.imgBackground {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  object-fit: cover;
  width: 100%; 
  height: 100vh;
}

/* colore del placeholder del form nella pagina contatti (con tailwind inserire dicitura 'placeholder-white') */
/* .placeholder-white::placeholder {
  color: #ffffff;
} */

.fontFooter {
  font-size: 12px;
}

.swiper-button-next {
  color: #fff !important; 
}

.swiper-button-prev {
  color: #fff !important; 
}


.swiper-pagination-bullet-active {
  background: white !important;
}



.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  border-top: 4px solid #C9C3B3;
  border-right: 4px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after {
  content: '';  
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border-left: 4px solid #8fcf27;
  border-bottom: 4px solid transparent;
  animation: rotation 0.5s linear infinite reverse;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 